<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopeZ</title>
</head>

<body>
    
    <div>
        <input type="hidden" id="userId" value="<%= id %>">
        <input type="hidden" id="authToken" value="<%= authToken %>">
        <input type="text" placeholder="Password" id="password">
        <input type="text" placeholder="Confirm Password" id="confPassword">
        <button onclick="UpdatePassword()">Submit</button>
    </div>
</body>
<script>
    const UpdatePassword = async () => {
        const password = document.getElementById('password').value
        const confpassword = document.getElementById('confPassword').value
        const userId = document.getElementById('userId').value;
        const authToken = document.getElementById('authToken').value;
        if (password !== confpassword) {
            alert('Both password and confirm password should be same')
        } else {

            await fetch(`https://calm-tan-deer-wear.cyclic.app/users/edit/${userId}`, {
                method: "PATCH",
                body: JSON.stringify({ password }),
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': authToken
                }
            }).then(res => res.json())
                .then(res => {
                    if (res.success) {
                        alert('Password has been changes successfully')
                        window.location.href = 'https://arba-development-studio-ecommerce.vercel.app/';
                    } else {
                        alert('Password is not changes')
                    }
                })
                .catch(err => {
                    alert('Soemthing went wrong')
                    console.log(err)
                })
        }

    }
</script>

</html>